<section class="aside">
    <div>
        <input type="text" name="search" id="searchSide" placeholder="">
        <span>GO</span>
    </div>
    <div>
        <div><a href="">Home</a></div>
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>

    </div>
    <hr>
    <div class="list">
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>

    </div>
    <hr>
    <div class="list">
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>
        <div>Topic</div>
    </div>
    <hr>
    <div class="footer">
        <div>About</div>
        <div>Contact</div>
        <div>FAQ</div>
        <div>Feedback</div>
        <div>Terms</div>
    </div>
    <div class="copyright">
        ©2024 Ax
    </div>
</section>