<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/assets/style.css">


    <script defer src="/assets/js/htmx.min.js"></script>
    <script defer src="/assets/js/preload.js"></script>
    <script async src="/assets/js/alpine.min.js"></script>
    <script async src="/assets/app.js"></script>
<!--  Google Seo   -->
    <title>{{ Title }}</title>
    <meta name="description" content="">
    <meta name="keywords" content="...">
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Recipe",
            "name": "谷歌seo之结构化数据标记重要性",
            "author": {
                "@type": "Person",
                "name": "Mary Stone"
            },
            "datePublished": "2018-03-10",
            "description": "Google搜索中结构化数据标记是一种可以通过向网页添加特定的标记",
            "prepTime": "PT20M"
        }
    </script>
    <!--    TODO og 协议,后续优化-->
    <meta property="og:site_name" content="谷歌seo优化" />
</head>
<body>

