<section class="topBar">
    <div class="top-left">
        <div class="hamburger">
            <i class="fa fa-align-justify"></i>
        </div>
        <div class="logo">
            <a href="/">
                <img src="/assets/img/logo.png" alt="" />
            </a>
        </div>
    </div>

    <div class="searchBox">
        <input type="text" name="search" class="searchInput" placeholder="Search...">
        <span class="searchBtn">
            <i class="fa-solid fa-search"></i>
        </span>
    </div>
    <div class="top-right">
        <div class="language">
            <ul>
                <li>En</li>
                <li>简体</li>
                <li>繁体</li>
            </ul>
        </div>
        <div class="notification"></div>
        <div class="profile">
            <div class="avatar"><img src="" alt=""></div>
            <ul>
                <li>Dark Mode<span></span></li>
                <li>Profile</li>
                <li>Setting</li>
                <li>Sign Out</li>
            </ul>
        </div>
    </div>

</section>